.camera-frame-container {
  position: fixed;
  top: 10%;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 1;
  overflow: hidden;
}

.camera-frame {
  width: 85vw;
  max-width: 1200px;
  height: auto;
  display: block;
  z-index: 1;
  position: relative;
  pointer-events: none;
}

.loading-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45vw;
  max-width: 700px;
  height: 70vh;
  max-height: 600px;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
} 